body {
    background-color: lightskyblue;
}

.mathjax {
    color: blue;
    font-size: 2em;
}

#app {
    display: flex;
}

#board {
    width: 900px;
    height: 900px;
}

#board_navigationbar {
    visibility: hidden;
}

.equationDiv {
    background-color: hotpink;
}

.equations {
    color: darkslategrey;
    width: 100px;
    height: 33px;
    /* background-color: #12542366; */
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

#pointBoard {
    width: 100px;
    height: 100px;
    background-color: hotpink;
}

/* .invisible {
    visibility: hidden;
} */

.visible {
    visibility: visible;
}
