body {
    background-image: url("/milky.jpg");
}

#main {
    display: grid;
    grid-template-columns: 1fr 9fr 3fr;
}

/* welcome page */

#welcome {
    background-image: url("/cartesian.png");
    position: fixed;
    background-size: cover;
    height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr;
    grid-template-rows: 0.9fr 1fr 1fr;
}

#mainHeader {
    font-size: 5em;
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 2;
}

#showMe {
    margin-top: 0;
    padding-top: 0;
    justify-self: center;
    align-self: end;
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}

/* progressBar */
#progressBar {
    justify-self: center;
    align-self: center;
    width: 15px;
    height: 800px;
    margin: 18px;
    border: solid black;
}

#progress {
    width: 15px;
    height: 20%;
    background-color: lime;
}

/* board */
#board {
    width: 900px;
    height: 900px;
    margin: 18px;
}

#board_navigationbar {
    visibility: hidden;
}

/* formulas */

#formulasContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulasDivs {
    height: 50px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border-radius: 5px 15px 5px 15px;
}

.formulas {
    font-size: 2em;
}

.border {
    border: solid black;
}

.purple {
    background-image: linear-gradient(#5326d9, #866bd4);
}

.blue {
    background-color: #0099ff;
    background-image: linear-gradient(#0099ff, #6fc4fd);
}
.green {
    background-color: #00ff99;
    background-image: linear-gradient(#00ff99, #6ffbc3);
}
.pink {
    background-color: #cc33cc;
    background-image: linear-gradient(#cc33cc, #c36dc3);
}

.disable-selection {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.active {
    border: solid white;
}

/* level and points */
#rightSide {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#levelPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#levelHeader {
    font-size: 4em;
    font-family: "Corben", cursive;
    color: lime;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(167, 16, 187);
    /* text-shadow: 1px 1px 3px hotpink, -1px -1px 3px hotpink,
        1px -1px 3px hotpink, -1px 1px 3px hotpink; */
}

#pointBoard {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: space-between;
    /* flex-direction: column;
    align-items: center; */
    /* justify-content: center; */
}

h2 {
    font-family: "Corben", cursive;
    color: rgb(203, 138, 206);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(167, 16, 187);
}

#points {
    font-size: 2.5em;
    font-family: "Corben", cursive;
    color: rgb(203, 138, 206);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(167, 16, 187);
}

#pointcounter {
    font-size: 4em;
    font-family: "Corben", cursive;
    color: rgb(203, 138, 206);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(167, 16, 187);
    padding: 0;
    margin: 0;
}

/* finalModal */
#finalModal {
    position: fixed;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("/milky.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

#addName {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 20px;
    font-size: large;
}

button {
    font-size: 1em;
    font-weight: bold;
    color: rgb(167, 16, 187);
}

#finalheader {
    font-size: 3em;
    font-family: "Corben", cursive;
    color: lime;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(167, 16, 187);
}

.link {
    text-decoration: none;
}

#scoreBoard {
    background-color: lime;
    background-image: linear-gradient(lime, rgb(197, 250, 197));
    padding: 15px;
    border-radius: 35px 15px 35px 15px;
    width: 550px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#highScore {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.highScores {
    margin: 5px;
    color: rgb(167, 16, 187);
    font-size: 2em;
}
